@import "/src/app/styles/breakpoints.scss";
@import "./colours.scss";

@mixin transition($property) {
    transition: $property 0.12s ease-in-out;
}
@mixin transition2($property) {
    transition: $property 0.2s ease-in-out;
}
@mixin difficultyLabel {
    width: fit-content;
    display: flex;
    padding: 0.25rem 0.5rem;
    border-radius: 0.25rem;
    cursor: pointer;
}
@mixin tagLabel {
    border: 0.5px solid $col-grey;
    width: fit-content;
    padding: 0.2rem 0.5rem;
    border-radius: 0.5rem;
    color: $col-black;
}

@mixin hoverLabel {
    position: absolute;
    top: -0.5rem;
    transform: translate(-50%, -100%);
    background-color: rgba($col-black, 0.85);
    border-radius: 0.25rem;
    padding: 0rem 0.25rem;
    color: $col-white;
    left: 50%;
    opacity: 0;
    transition: 0.12s ease-in-out;
    width: fit-content;
    text-wrap: nowrap;
    z-index: 50;
}

@mixin gridBox {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: clamp(0.5rem, 0.4rem + 0.2vw, 0.75rem);
    max-width: 1200px;
}

@mixin smallAbsolute {
    position: absolute;
    display: flex;
    align-items: flex-end;
    padding: 1rem;
    width: 105%;
    height: fit-content;
    bottom: -100%;
    left: 50%;
    transform: translateX(-50%);
    color: $col-white;
    background-color: rgba($col-black, 0.7);
    white-space: wrap;

    transition: bottom 0.15s ease-in-out;
}

@mixin scrollX($class) {
    #{$class}::-webkit-scrollbar {
        -webkit-appearance: none;
        background-color: unset;
    }

    #{$class}::-webkit-scrollbar:horizontal {
        height: 11px;
        background-color: rgba($col-grey, 0.5);
        border-radius: 8px;
    }

    #{$class}::-webkit-scrollbar-thumb {
        border-radius: 8px;
        background-color: rgba($col-black, 0.7);
        transition: all 0.1s ease-in-out;
    }
    #{$class}::-webkit-scrollbar-thumb:hover {
        background-color: $col-black;
        cursor: pointer;
    }
}

@mixin scrollX-sm($class) {
    #{$class}::-webkit-scrollbar {
        -webkit-appearance: none;
        background-color: unset;
    }

    #{$class}::-webkit-scrollbar:horizontal {
        height: 6px;
        background-color: rgba($col-light-grey, 0.5);
        border-radius: 4px;
    }

    #{$class}::-webkit-scrollbar-thumb {
        border-radius: 4px;
        background-color: $col-grey;
        transition: all 0.1s ease-in-out;
    }
    #{$class}::-webkit-scrollbar-thumb:hover {
        background-color: rgba($col-black, 0.7);
        cursor: pointer;
    }
}

@mixin scrollHidden($class) {
    #{$class}::-webkit-scrollbar {
        display: none;
    }

    #{$class}::-webkit-scrollbar:horizontal {
        height: none;
    }
}
@mixin customScrollbar($className) {
    #{$className}::-webkit-scrollbar {
        width: 0.5rem;
        margin-left: 0.5rem;
        background: $col-grey-hover;
        border-radius: 0.5rem;
    }
    #{$className}::-webkit-scrollbar-thumb {
        width: 0.5rem;
        background: $col-grey;
        border-radius: 0.5rem;
    }
}

@mixin bouncingAnimationData {
    animation-name: bouncingAnimation;
    animation-duration: 2000ms;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}

@keyframes bouncingAnimation {
    0%,
    100% {
        transform: translateY(0px);
    }
    65% {
        transform: translateY(-6px);
    }
}

@mixin textAreaStyle($class) {
    #{$class}:focus {
        outline: unset;
    }
    #{$class} {
        border: unset;
        resize: none;
    }
}

@mixin labelItem {
    display: flex;
    width: fit-content;
    padding: 0.25rem 0.5rem;
    border-radius: 0.25rem;
    cursor: pointer;
}

@mixin whitebgGreyHover {
    background: linear-gradient($col-white, $col-white),
        linear-gradient($col-white, $col-white);
    &:hover {
        background: linear-gradient(rgba($col-grey, 0.1), rgba($col-grey, 0.1)),
            linear-gradient($col-white, $col-white);
    }
}

@mixin whitebgColHover {
    background-color: $col-white;
    @include transition(background-color);
    &:hover {
        background-color: $col-grey-hover;
    }
}
