$col-red: rgb(255, 86, 120);
$col-blue: rgb(5, 203, 214);
$col-yellow: rgb(255, 208, 86);
$col-white: rgb(256, 256, 256);
$col-grey: rgb(169, 169, 169);
$col-grey-hover: rgb(230, 230, 230);
$col-light-grey: rgba(210, 210, 210);
$col-green: rgb(131, 230, 74);
$col-black: rgb(0, 0, 0);
$col-blue-select: rgb(50, 152, 253);
$col-purple: rgb(207, 159, 255);

$primary-glow: conic-gradient(
    from 180deg at 50% 50%,
    $col-red 0deg,
    $col-blue 55deg,
    $col-yellow 120deg,
    $col-blue 160deg,
    transparent 360deg
);

$primary-glow-2: conic-gradient(
    from 180deg at 50% 50%,
    $col-blue 0deg,
    $col-red 55deg,
    $col-yellow 120deg,
    $col-red 160deg,
    transparent 360deg
);

$primary-glow-3: conic-gradient(
    from 180deg at 50% 50%,
    $col-red 0deg,
    $col-yellow 55deg,
    $col-blue 120deg,
    $col-yellow 160deg,
    transparent 360deg
);

$box-shadow-default: 0px 8px 16px rgba($col-black, 0.3);
$box-shadow-sm: 0px 2px 4px rgba($col-black, 0.2);
$box-shadow-sm-2: 2px 2px 4px rgba($col-black, 0.2);

@mixin colouredDropShadow($property) {
    box-shadow: 0px 0px 12px rgba($property, 0.8);
}

@mixin colouredDropShadowSm($property) {
    box-shadow: 0px 0px 6px rgba($property, 0.3);
}

@mixin animation-rotate {
    animation-name: animation-rotate;
    animation-duration: 10s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

@keyframes animation-rotate {
    0% {
        transform: rotate(0turn);
        opacity: 1;
    }
    25%,
    75% {
        opacity: 0.6;
    }
    50% {
        opacity: 1;
    }
    100% {
        transform: rotate(1turn);
        opacity: 1;
    }
}

@mixin animation-rotate-2 {
    animation-name: animation-rotate-2;
    animation-duration: 5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

@keyframes animation-rotate-2 {
    0% {
        transform: rotate(0turn);
    }
    100% {
        transform: rotate(1turn);
    }
}

@mixin animation-pulse {
    animation-name: animation-pulse;
    animation-duration: 3s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
}

@keyframes animation-pulse {
    0%,
    100% {
        transform: scale(1);
        opacity: 1;
    }
    50% {
        transform: scale(1.05);
        opacity: 0.2;
    }
}
