@import "../../../../styles/colours.scss";

@mixin btnDecision($colour) {
    border: 2.5px solid $col-black;
    display: flex;
    height: fit-content;
    width: fit-content;
    border-radius: 2.5rem;
    @include colouredDropShadow($colour);
    background-color: $colour;
    cursor: pointer;
    svg {
        stroke: $col-black;
        fill: $col-black;
        height: 2.5rem;
        width: 2.5rem;
        padding: 0.2rem;
    }
    &:hover {
        scale: 0.97;
        // border: 2.5px solid $colour;
        // svg {
        //     stroke: $colour;
        //     fill: $colour;
        // }
    }
}

@mixin flipBtnCol($prim, $sec) {
    border: 2.5px solid $prim;
    color: $prim;
    font-size: 1.5rem;
    background-color: $sec;
    transition: all 0.12s ease-in-out;
    box-shadow: $box-shadow-sm;
    svg {
        fill: $prim;
        stroke: $prim;
        transition: all 0.12s ease-in-out;
    }
    &:hover {
        scale: 0.97;
        border: 2.5px solid $sec;
        color: $sec;
        background-color: $prim;

        svg {
            fill: $sec;
            stroke: $sec;
        }
    }
}

.btnInterationContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: $col-white;
    box-shadow: $box-shadow-default;
    border: 0.5px solid $col-grey;
    width: fit-content;
    padding: 1.5rem 2rem;
    border-radius: 1rem;
    gap: 0.5rem;
    margin-bottom: 2rem;

    .flipBtnContainer {
        &:hover .flipBtn {
            transform: rotateY(180deg);
        }
        width: fit-content;
        height: fit-content;
        .flipBtn {
            width: 8rem;
            height: 2rem;
            display: flex;
            grid-area: 0.5rem;
            align-items: center;
            font-weight: 600;
            padding: 0.5rem 1rem;
            border-radius: 0.5rem;
            // @include flipBtnCol($col-black, $col-white);
            position: relative;
            cursor: pointer;
            transform-style: preserve-3d;
            transition: transform 0.2s ease-in-out;

            .frontFace,
            .backFace {
                position: absolute;
                display: flex;
                text-wrap: nowrap;
                align-items: center;
                justify-content: space-between;
                gap: 0.5rem;
                inset: 0;
                margin: auto;
                height: 100%;
                width: 100%;
                padding: 0rem 0.5rem;
                border-radius: 0.5rem;
                transform-style: preserve-3d;
            }
            @mixin cardFaces($prim, $sec) {
                outline: 2px solid $sec;
                background-color: $prim;
                color: $sec;
                svg {
                    fill: $sec;
                    stroke: $sec;
                    width: 2rem;
                    height: 2rem;
                }
                backface-visibility: hidden;
            }
            .frontFace {
                @include cardFaces($col-black, $col-white);
            }
            .backFace {
                @include cardFaces($col-white, $col-black);
                transform: rotateY(180deg);
            }
        }
    }

    .btnDecisionContainer {
        display: flex;
        align-items: center;
        gap: 2rem;

        .btnIncorrect {
            @include btnDecision($col-red);
        }
        .btnCorrect {
            @include btnDecision($col-green);
        }
    }
}
