@import "../../../styles/colours.scss";
@import "../../../styles/mixins";

.verifyContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: fit-content;
    inset: 0;
    margin: auto;
    height: fit-content;
    gap: 0.5rem;
    max-width: 300px;
    padding: 2rem;
    border-radius: 0.5rem;
    box-shadow: $box-shadow-default;
}
.verifyPage {
    display: flex;
    flex-direction: column;
    justify-items: center;
}
