@import "../../styles/colours.scss";

.linkContainer {
    display: flex;
    align-items: center;
    svg {
        stroke-width: 1;
        fill: $col-grey;
        stroke: $col-grey;
    }

    .link {
        color: $col-grey;
    }
    &:hover .link {
        text-decoration: underline;
    }
}
