@import "../../styles/colours.scss";
@import "../../styles/mixins";
@import "../../styles/breakpoints.scss";

.landingContainer {
    width: 100%;
    height: calc(80vh - 3.5rem);
    margin-bottom: 20vh;
    position: relative;
    display: grid;
    place-items: center;
    .flashmuLogo {
        @include bouncingAnimationData;
    }
    .flashmuLandingTextLogo {
        font-size: clamp(2.5rem, 2rem + 2.5vw, 4.5rem);
        line-height: clamp(2.5rem, 2rem + 2.5vw, 4.5rem);
    }
    .landingTextContainer {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1rem;
        position: relative;
        z-index: 1;
        @include breakpoint-mobile {
            user-select: none;
            pointer-events: none;
        }

        div {
            display: flex;
            flex-direction: column;
            align-items: center;
        }
        .createSetBtn {
            @include breakpoint-mobile {
                display: none;
            }
        }
    }
    .landingTextContainer::after {
        content: "";
        position: absolute;
        background-color: rgba($col-white, 0.7);
        height: 150%;
        width: 150%;
        z-index: -1;
        box-shadow: $box-shadow-sm;
        border-radius: 1rem;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        border-radius: 100%;
        filter: blur(3rem);
        @include breakpoint-mobile {
            background-color: rgba($col-white, 1);
            top: 65%;
        }
    }
    .landingTextContainer::before {
        content: "";
        display: none;
        position: absolute;
        background-color: rgba($col-white, 0.7);
        height: 50%;
        width: 50%;
        z-index: -1;
        box-shadow: $box-shadow-sm;
        border-radius: 1rem;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        border-radius: 100%;
        filter: blur(3rem);
        @include breakpoint-mobile {
            display: block;
        }
    }

    .leadingText {
        font-weight: 300;
        span {
            font-weight: 600;
        }
        span:nth-child(1) {
            color: $col-red;
        }
        span:nth-child(2) {
            color: $col-blue;
        }
        span:nth-child(3) {
            color: $col-yellow;
        }
    }
    .btnContainer {
        margin-top: 1rem;
        position: relative;
    }
    .arrowsContainer {
        @include breakpoint-mobile {
            display: none;
        }
        user-select: none;
        pointer-events: none;
        position: relative;
        transform: translate(0rem, -100%) rotate(-65deg);
        .tryMeText {
            position: absolute;
            inset: 0;
            margin: auto;
            height: fit-content;
            width: fit-content;
            font-size: 1.5rem;
        }

        & > div {
            position: relative;
        }
        svg {
            height: clamp(3rem, calc(1.5rem + 10vw), 8rem);
            width: clamp(3rem, calc(1.5rem + 10vw), 8rem);
        }
    }

    .underline {
        text-decoration: underline;
    }
}
