@import "../../styles/colours.scss";
@import "../../styles/mixins";

.landingContainer {
    width: 100%;
    height: calc(80vh - 3.5rem);
    margin-bottom: 20vh;
    position: relative;
    display: grid;
    place-items: center;
    .flashmuLogo {
        @include bouncingAnimationData;
    }
    .flashmuLandingTextLogo {
        font-size: clamp(2.5rem, 2rem + 2.5vw, 4.5rem);
        line-height: clamp(2.5rem, 2rem + 2.5vw, 4.5rem);
    }
    .landingTextContainer {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1rem;
        position: relative;
        z-index: 1;

        div {
            display: flex;
            flex-direction: column;
            align-items: center;
        }
    }

    .leadingText {
        font-weight: 300;
        span {
            font-weight: 600;
        }
        span:nth-child(1) {
            color: $col-red;
        }
        span:nth-child(2) {
            color: $col-blue;
        }
        span:nth-child(3) {
            color: $col-yellow;
        }
    }
    .btnContainer {
        margin-top: 1rem;
        position: relative;
    }
    .arrowsContainer {
        user-select: none;
        pointer-events: none;
        position: relative;
        transform: translate(0rem, -100%) rotate(-65deg);
        .tryMeText {
            position: absolute;
            inset: 0;
            margin: auto;
            height: fit-content;
            width: fit-content;
            font-size: 1.5rem;
        }

        & > div {
            position: relative;
        }
        svg {
            height: clamp(3rem, calc(1.5rem + 10vw), 8rem);
            width: clamp(3rem, calc(1.5rem + 10vw), 8rem);
        }
    }

    .underline {
        text-decoration: underline;
    }
}
