@import "../../../../styles/colours.scss";

.bannerBtnsContainer {
    position: relative;
    display: flex;
    gap: 0.5rem;
    .bannerIcon {
        aspect-ratio: 1;
        width: fit-content;
        padding: 0.25rem;
        border-radius: 0.5rem;
        background-color: rgba($col-white, 0.2);
        box-shadow: $box-shadow-sm;
    }
    .delBannerContainer {
        position: relative;
    }
}
.bannerIcon {
    display: flex;
    position: relative;

    cursor: pointer;
    &:hover svg {
        fill: $col-black !important;
    }
    & svg {
        width: 1.5rem;
        height: 1.5rem;
        aspect-ratio: 1;
        stroke: unset;
    }

    .hoverLabel {
        position: absolute;
        top: -0.5rem;
        transform: translate(-50%, -100%);
        background-color: rgba($col-black, 0.85);
        border-radius: 0.25rem;
        padding: 0rem 0.25rem;
        color: $col-white;
        left: 50%;
        opacity: 0;
        transition: 0.12s ease-in-out;
        width: fit-content;
        text-wrap: nowrap;
        z-index: 50;
    }
    &:hover .hoverLabel {
        opacity: 1;
    }
}
