@import "../../../styles/colours.scss";
@import "../../../styles/mixins";

.textInputWrap {
    place-content: center;
    display: grid;
    margin-bottom: 1rem;
    transition: grid-template-columns 1s $cubicBezier;
    .textInputContainer {
        min-width: 5rem;
        overflow: hidden;
        padding: 0.5rem;
        background-color: $col-white;
        border-radius: 1rem;
        box-shadow: $box-shadow-sm;
        transition: all 0.5s $cubicBezier;
    }
    fieldset {
        background-color: $col-white;
        border: unset;
    }
    input {
        padding: 0.25rem 0.25rem;
        border: unset;
        z-index: 100 !important;
        transition: all 0.5s $cubicBezier;
    }

    input:not(:placeholder-shown) + label {
        left: 0.5rem;
        top: 0% !important;
        @include breakpoint-mobile {
            top: 50% !important;
        }
    }
    input:focus + label {
        left: 0.5rem;
        top: 0% !important;
    }
    label {
        left: 0;
        top: 50% !important;
        z-index: 1;
        opacity: 1;
        transition: all 0.5s $cubicBezier;
    }
}

.hasChars div fieldset input + label {
    @include breakpoint-mobile {
        top: 0% !important;
        opacity: 0;
    }
}

.incorrect {
    @include multiDirectionalShake;
    & > div,
    & input,
    label {
        background-color: rgba($col-red, 1) !important;
    }
}

.correct {
    @include bounceOnce2;
    & > div,
    & input,
    label {
        background-color: rgba($col-green, 1) !important;
    }
}
