.nav {
    display: flex;
    justify-content: space-between;
    height: 2rem;
    & > * {
        flex: 1;
    }
}

.navButtons {
    display: flex;
    gap: 1rem;
    justify-content: end;
    position: relative;
}
