@import "../../styles/colours.scss";

.checkbox {
    position: relative;
    width: 1.1rem;
    height: 1.1rem;
    input {
        position: absolute;
        inset: 0;
        margin: auto;
    }
    label {
        position: absolute;
        width: 1rem;
        height: 1rem;
        border: 1px solid $col-grey;
        border-radius: 1rem;
        inset: 0;
        margin: auto;
        cursor: pointer;
    }
}
