@import "../../styles/colours.scss";

.fieldset {
    position: relative;
    padding: unset;
    border: 0.5px solid $col-black;
    margin: 0;
    border-radius: 0.5rem;

    input,
    textarea {
        width: 100%;
        resize: none;
        padding: 1rem 0.5rem;
        border: unset;
        font-size: 1rem;
        font-weight: 400;
        z-index: 10;
        background: unset;
        background-color: unset;
    }

    label {
        left: 0.5rem;
        top: 0.5rem;
        color: $col-grey;
        position: absolute;
        transition: all 0.08s ease-in-out;
        z-index: 10;
        background-color: $col-white;
        line-height: clamp(0.7rem, 0.6rem + 1vw, 1rem) !important;
        padding: 0 0.25rem;
    }
    textarea + label {
        top: 1rem;
    }
    input + label {
        top: 50%;
        transform: translateY(-50%);
    }

    input:focus + label,
    textarea:focus + label {
        font-size: 0.7rem;
        top: 0;
        transform: translateY(-50%);
    }

    input:not(:placeholder-shown) + label,
    textarea:not(:placeholder-shown) + label {
        font-size: 0.7rem;
        top: 0;
        transform: translateY(-50%);
    }

    textarea:focus + label {
        font-size: 0.7rem;
        top: 0;
    }

    input:focus,
    textarea:focus {
        outline: 0;
    }

    .errorText {
        position: absolute;
    }
}
