@import "../../styles/colours.scss";
@import "../../styles/mixins.scss";
@import "../../styles/breakpoints.scss";

.fieldset {
    position: relative;
    padding: unset;
    margin: 0;
    border-radius: 0.5rem;
    border: 0;

    input,
    textarea {
        width: 100%;
        resize: none;
        padding: 1rem 0.5rem;
        border: 1px solid $col-grey;
        font-size: 1rem;
        font-weight: 400;
        z-index: 10;
        background: unset;
        background-color: unset;
        border-radius: 0.5rem;
    }

    input {
        @include breakpoint-mobile {
            padding: 0.5rem 0.5rem;
        }
    }

    label {
        left: 0.5rem;
        top: 0.5rem;
        color: $col-grey;
        position: absolute;
        transition: all 0.08s ease-in-out;
        z-index: 10;
        background-color: $col-white;
        line-height: clamp(0.7rem, 0.6rem + 1vw, 1rem) !important;
        padding: 0 0.25rem;
        width: fit-content;
    }
    textarea + label {
        top: 1rem;
    }
    input + label {
        top: 50%;
        transform: translateY(-50%);
    }

    input:focus + label,
    textarea:focus + label {
        font-size: 0.7rem;
        top: 0;
        transform: translateY(-50%);
        color: $col-blue-select;
    }

    input:not(:placeholder-shown) + label,
    textarea:not(:placeholder-shown) + label {
        font-size: 0.7rem;
        top: 0;
        transform: translateY(-50%);
    }

    textarea:focus + label {
        font-size: 0.7rem;
        top: 0;
        color: $col-blue-select;
    }

    input:focus,
    textarea:focus {
        outline: 2px solid $col-blue-select; /* Restores outline with desired style */
        // outline-offset: -1.5px;
    }

    .errorText {
        position: absolute;
    }
    .error {
        color: $col-red !important;
    }
}
