@import "../../styles/colours.scss";
@import "../../styles/mixins.scss";

.cardModalContainer {
    position: fixed;
    height: 100lvh;
    width: 100vw;
    background-color: rgba($col-black, 0.2);
    top: 0;
    left: 0;
    z-index: 10000000;
}

.cardModal {
    position: absolute;
    inset: 0;
    margin: auto;
    background-color: $col-white;
    border-radius: 0.5rem;
    background-color: $col-white;
    width: clamp(300px, calc(256px + 5vw), 560px);
    box-shadow: $box-shadow-default;
    height: fit-content;
    padding: 1rem;
    padding-top: 1.75rem;
    overflow: hidden;
}

.widthWide {
    width: clamp(300px, calc(100% - 2rem), 800px);
}

.overflowY {
    overflow-y: auto;
    max-height: 800px;
    padding: 1rem 0.75rem;
}
.footer {
    margin-top: 1.5rem;
}

@include customScrollbar(".overflowY");
