@import "../../styles/colours.scss";

.logoContainer {
    width: fit-content;
    svg {
        width: 2rem;
    }
}
.flashmuLandingLogo {
    width: clamp(3rem, 2rem + 3vw, 6rem);
    aspect-ratio: 1;
    svg {
        height: 100%;
        width: 100%;
    }
}

.changeColourIcons {
    path:nth-child(2) {
        fill: $col-blue;
    }
    path:nth-child(3) {
        fill: $col-red;
    }
    path:nth-child(4) {
        fill: $col-yellow;
    }
}
