@import "../../styles/colours.scss";

.defaultButton {
    display: flex;
    flex-wrap: nowrap;
    gap: 0.5rem;
    width: fit-content;
    height: fit-content;
    align-items: center;
    border: 1px solid $col-grey;
    border-radius: 0.5rem;
    padding: 0.25rem 0.25rem;
    font-weight: 500;
    background-color: rgba($col-white, 0.15);
    cursor: pointer;
    svg {
        height: 1.5rem;
        width: 1.5rem;
    }
    transition: all 0.12s ease-in-out;
    &:hover {
        background-color: rgba($col-grey, 0.1);
    }
}

.defaultButtonBlack {
    background-color: $col-black;
    color: $col-white;
    &:hover {
        background-color: rgba($col-black, 0.8);
    }
    svg {
        fill: $col-white;
    }
}

.defaultButtonRed {
    color: $col-red;
    border: 1px solid $col-red;
    &:hover {
        background-color: rgba($col-red, 0.1);
    }
}

.defaultButtonYellow {
    background-color: $col-yellow;
    border: 0.5px solid $col-yellow;
    color: $col-black;
    &:hover {
        background-color: rgba($col-yellow, 0.8);
    }
}

.noOutline {
    border: 0 !important;
}
