@import "../../styles/colours.scss";

.defaultButton {
    display: flex;
    flex-wrap: nowrap;
    gap: 0.5rem;
    height: 100%;
    align-items: center;
    border: 0.5px solid $col-grey;
    border-radius: 0.5rem;
    padding: 0.25rem 0.5rem;
    font-weight: 500;
    background-color: rgba($col-white, 0.15);
    cursor: pointer;
    svg {
        height: 1.5rem;
        width: 1.5rem;
    }
    transition: all 0.2s ease-in-out;
    &:hover {
        background-color: rgba($col-white, 0.3);
    }
}

.defaultButtonBlack {
    background-color: $col-black;
    color: $col-white;
    &:hover {
        background-color: rgba($col-black, 0.8);
    }
}
