@import "../../../../styles/colours.scss";
@import "../../../../styles/mixins.scss";
@import "../../../../_components/reviseCollection/reviseCards.module.scss";

.modalContainer {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding-bottom: 0.5rem;
    padding-top: 0.5rem;
}
.setCardContainer {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 0.5rem;
}
.stateCheckValidation {
    label {
        color: $col-grey;
    }
}
.selectSetsContainer {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
}
.extraDetailsContainer {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}
